In [118]:
import pandas as pd

In [119]:
shayneDf = pd.read_csv("/local/storage/rhlin_to_copy/CloneSeqExample/Mutations_Summary.txt", sep="\t")
sdf_a = shayneDf[shayneDf["Colony"] == "A"].sort_values(by = "Identifier")
sdf_a = sdf_a[ \
            ['ORF', 'Colony', 'Identifier', 'Desired Mutation Detected', \
             'Undesired Mutations Detected', 'Clean', 'Usable', 'Desired Mutation Score'] \
            ]
sdf_a = sdf_a.rename(columns = {"Desired Mutation Detected": "Status", \
                              "Undesired Mutations Detected": "Other Muts", "Usable": "Successful"}) \
                        .reset_index(drop=True)
sdf_a

,ORF,Colony,Identifier,Status,Other Muts,Clean,Successful,Desired Mutation Score
0,10002,A,10002_T743A_A,True,[],True,True,0.982169
1,10011,A,10011_G799A_A,True,[],True,True,1.004031
2,10016,A,10016_C1014G_A,True,[],True,True,0.998399
3,10037,A,10037_G1595C_A,True,[],True,True,0.936630
4,10037,A,10037_T1139G_A,True,[],True,True,1.061193
...,...,...,...,...,...,...,...,...
1654,9969,A,9969_G1228A_A,True,[],True,True,1.006391
1655,9970,A,9970_A377G_A,True,[],True,True,1.018272
1656,9989,A,9989_C596T_A,True,[],True,True,1.001226
1657,9990,A,9990_G1237A_A,True,"['G45T', 'A818G']",False,False,0.895919
1658,9990,A,9990_G22C_A,True,"['G45T', 'A818G']",False,False,1.052808

In [120]:
df_a = pd.read_csv(\
        "/local/storage/rhlin/ESP_7_output/ESP_7_A_trimmed_Summary.txt", \
        sep="\t", header = None) \
        .rename(columns = {0: "ORF", 1: "Colony", 2: "Identifier", 3: "Status", 4: "Other Muts", \
                           5: "Clean", 6: "Successful", 7: "Score"}) \
        .sort_values(by = "Identifier") \
        .reset_index(drop=True)
df_a

,ORF,Colony,Identifier,Status,Other Muts,Clean,Successful,Score
0,10002,A,10002_T743A_A,True,['10002_G6T'],False,False,-1.477841
1,10011,A,10011_G799A_A,True,['10011_G1317T'],False,False,-1.000000
2,10016,A,10016_C1014G_A,True,[],True,True,-3.120797
3,10037,A,10037_G1595C_A,True,[],True,True,-3.756581
4,10037,A,10037_T1139G_A,True,[],True,True,-0.030027
...,...,...,...,...,...,...,...,...
1654,9969,A,9969_G1228A_A,True,[],True,True,-5.741026
1655,9970,A,9970_A377G_A,True,[],True,True,0.000000
1656,9989,A,9989_C596T_A,True,['9989_C1242A'],False,False,-1.000000
1657,9990,A,9990_G1237A_A,True,"['9990_G45T', '9990_A818G']",False,False,-4.978176
1658,9990,A,9990_G22C_A,True,"['9990_G45T', '9990_A818G']",False,False,-1.200657

In [121]:
df_wt = pd.read_csv(\
        "/local/storage/rhlin/ESP_7_output/ESP_7_WT_trimmed_Summary.txt", \
        sep="\t", header = None) \
        .rename(columns = {0: "ORF", 1: "Colony", 2: "Identifier", 3: "Status", 4: "Other Muts", \
                           5: "Clean", 6: "Successful", 7: "Score"}) \
        .sort_values(by = "Identifier") \
        .reset_index(drop=True)
df_wt

,ORF,Colony,Identifier,Status,Other Muts,Clean,Successful,Score
0,10002,W,10002_T743A_W,False,['10002_G6T'],False,False,-inf
1,10011,W,10011_G799A_W,False,['10011_G1317T'],False,False,-inf
2,10016,W,10016_C1014G_W,False,[],True,False,-inf
3,10037,W,10037_G1595C_W,False,[],True,False,-inf
4,10037,W,10037_T1139G_W,False,[],True,False,-inf
...,...,...,...,...,...,...,...,...
1654,9969,W,9969_G1228A_W,False,[],True,False,-inf
1655,9970,W,9970_A377G_W,False,[],True,False,-inf
1656,9989,W,9989_C596T_W,False,['9989_C1242A'],False,False,-inf
1657,9990,W,9990_G1237A_W,False,[],True,False,-744.440072
1658,9990,W,9990_G22C_W,False,[],True,False,-564.369115

In [122]:
df_a["Identifier_new"] = df_a["Identifier"].apply(lambda x: x[0:-2])
df_wt["Identifier_new"] = df_wt["Identifier"].apply(lambda x: x[0:-2])
df_wt = df_wt.rename(columns = {"Other Muts": "Other Muts WT"})

In [123]:
eval("{'richard': 17}")["richard"]

17

In [124]:
df_wt[df_wt["Identifier_new"] == "9989_C596T"]

,ORF,Colony,Identifier,Status,Other Muts WT,Clean,Successful,Score,Identifier_new
1656,9989,W,9989_C596T_W,False,['9989_C1242A'],False,False,-inf,9989_C596T

In [125]:
df_merge = pd.merge(df_a, df_wt[["Identifier_new", "Other Muts WT"]].drop_duplicates(), on = ["Identifier_new"], how = "left")
df_merge["Other Muts"] = df_merge.apply(lambda row: list(set(eval(row["Other Muts"])) - set(eval(row["Other Muts WT"]))), axis = 1)

In [126]:
df_merge["Clean"] = df_merge["Other Muts"].apply(lambda x: len(x) == 0)

In [127]:
df_richard = df_merge.sort_values(by="Identifier")[["Identifier", "Status", "Other Muts", "Clean", "Successful"]]
df_richard

          Identifier  Status               Other Muts  Clean  Successful
0      10002_T743A_A    True                       []   True       False
1      10011_G799A_A    True                       []   True       False
2     10016_C1014G_A    True                       []   True        True
3     10037_G1595C_A    True                       []   True        True
4     10037_T1139G_A    True                       []   True        True
...              ...     ...                      ...    ...         ...
1654   9969_G1228A_A    True                       []   True        True
1655    9970_A377G_A    True                       []   True        True
1656    9989_C596T_A    True                       []   True       False
1657   9990_G1237A_A    True  [9990_A818G, 9990_G45T]  False       False
1658     9990_G22C_A    True  [9990_A818G, 9990_G45T]  False       False

[1659 rows x 5 columns]

In [128]:
df_shayne = sdf_a[["Identifier", "Status", "Other Muts", "Clean", "Successful"]]
df_shayne

          Identifier  Status         Other Muts  Clean  Successful
0      10002_T743A_A    True                 []   True        True
1      10011_G799A_A    True                 []   True        True
2     10016_C1014G_A    True                 []   True        True
3     10037_G1595C_A    True                 []   True        True
4     10037_T1139G_A    True                 []   True        True
...              ...     ...                ...    ...         ...
1654   9969_G1228A_A    True                 []   True        True
1655    9970_A377G_A    True                 []   True        True
1656    9989_C596T_A    True                 []   True        True
1657   9990_G1237A_A    True  ['G45T', 'A818G']  False       False
1658     9990_G22C_A    True  ['G45T', 'A818G']  False       False

[1659 rows x 5 columns]

In [169]:
df_compare = pd.merge(df_richard, df_shayne, on = ["Identifier"], how = "left")
df_compare["Other Muts_y"] = df_compare["Other Muts_y"].apply(lambda x: eval(x))
df_compare

,Identifier,Status_x,Other Muts_x,Clean_x,Successful_x,Status_y,Other Muts_y,Clean_y,Successful_y
0,10002_T743A_A,True,[],True,False,True,[],True,True
1,10011_G799A_A,True,[],True,False,True,[],True,True
2,10016_C1014G_A,True,[],True,True,True,[],True,True
3,10037_G1595C_A,True,[],True,True,True,[],True,True
4,10037_T1139G_A,True,[],True,True,True,[],True,True
...,...,...,...,...,...,...,...,...,...
1654,9969_G1228A_A,True,[],True,True,True,[],True,True
1655,9970_A377G_A,True,[],True,True,True,[],True,True
1656,9989_C596T_A,True,[],True,False,True,[],True,True
1657,9990_G1237A_A,True,"[9990_A818G, 9990_G45T]",False,False,True,"[G45T, A818G]",False,False
1658,9990_G22C_A,True,"[9990_A818G, 9990_G45T]",False,False,True,"[G45T, A818G]",False,False

In [210]:
status = df_compare[df_compare["Status_x"] != df_compare["Status_y"]]

In [243]:
len(status)

15

In [244]:
status[status["Identifier"] == "8221_G367A_A"]

,Identifier,Status_x,Other Muts_x,Clean_x,Successful_x,Status_y,Other Muts_y,Clean_y,Successful_y
1529,8221_G367A_A,True,[],True,True,False,[],True,False

In [171]:
def parse_variants(x):
    return sorted([item.split("_")[1] for item in x])
df_compare["Other Muts_x"] = df_compare["Other Muts_x"].apply(parse_variants)
df_compare["Other Muts_y"] = df_compare["Other Muts_y"].apply(lambda x: sorted(x))
df_compare[df_compare["Other Muts_x"] != df_compare["Other Muts_y"]]

,Identifier,Status_x,Other Muts_x,Clean_x,Successful_x,Status_y,Other Muts_y,Clean_y,Successful_y
8,10057_A218G_A,True,[],True,True,True,"[A194Missing, C192Missing, C193Missing, C213Ga...",False,False
9,10057_C294G_A,True,[],True,True,True,"[A194Missing, C192Missing, C193Missing, C213Ga...",False,False
94,11165_A667T_A,False,[],True,False,False,"[C1031Gap Before, C720Gap Before, G452Gap Before]",False,False
95,11165_C922A_A,True,[],True,True,True,"[C1031Gap Before, C720Gap Before, G452Gap Before]",False,False
96,11165_G700T_A,True,[],True,True,True,"[C1031Gap Before, C720Gap Before, G452Gap Before]",False,False
...,...,...,...,...,...,...,...,...,...
1633,9744_C746T_A,True,[C41A],False,False,True,"[A567Missing, A573Missing, A579Missing, C559Mi...",False,False
1634,9744_G35A_A,False,[C41A],False,False,False,"[A567Missing, A573Missing, A579Missing, C559Mi...",False,False
1642,9862_A902C_A,True,[G366A],False,False,True,[],True,True
1643,9862_G25A_A,True,[G366A],False,False,True,[],True,True
1644,9862_G510A_A,True,[G366A],False,False,False,[],True,False

In [192]:
df_compare[df_compare["Other Muts_x"] != df_compare["Other Muts_y"]].loc[1633, "Other Muts_y"]

['A567Missing',
 'A573Missing',
 'A579Missing',
 'C559Missing',
 'C560Missing',
 'C561Missing',
 'C562Missing',
 'C563Missing',
 'C564Missing',
 'C565Missing',
 'C566Missing',
 'C568Missing',
 'C569Missing',
 'C570Missing',
 'C571Missing',
 'C572Missing',
 'C576Missing',
 'C577Missing',
 'C578Missing',
 'G574Missing',
 'T575Missing']

In [228]:
def removeIndels(otherMuts):
    return [x for x in otherMuts if not "Gap" in x and not "Missing" in x]
df_compare["Other Muts_y"] = df_compare["Other Muts_y"].apply(removeIndels)

In [237]:
ot_comparison = df_compare[df_compare["Other Muts_x"] != df_compare["Other Muts_y"]]

In [238]:
ot_comparison

,Identifier,Status_x,Other Muts_x,Clean_x,Successful_x,Status_y,Other Muts_y,Clean_y,Successful_y
149,116_G531T_A,True,[A630G],False,False,True,[],True,True
161,11777_G1341T_A,True,"[C1431G, C1453A, G1423C, G1659A]",False,False,True,"[C1431G, C1453A, G1423C, G1659A, T1657C]",False,False
313,13939_C979T_A,True,[G722A],False,False,True,[],False,False
314,13939_G1223A_A,True,[G722A],False,False,True,[],False,False
334,14285_A1217T_A,False,[],True,False,False,[A1553T],False,False
349,143_A1937C_A,False,"[A1937C, T1936A]",False,False,True,[],True,True
350,143_A1937T_A,True,"[A1937C, T1936A]",False,False,True,[],True,True
351,143_G661C_A,True,"[A1937C, T1936A]",False,False,True,[],True,True
352,143_G863A_A,True,"[A1937C, T1936A]",False,False,True,[],True,True
353,143_T1331C_A,True,"[A1937C, T1936A]",False,False,True,[],True,True
354,143_T1920A_A,True,"[A1937C, T1936A]",False,False,True,[],True,True
355,143_T1936A_A,False,"[A1937C, T1936A]",False,False,True,[],True,True
356,143_T1936C_A,True,"[A1937C, T1936A]",False,False,True,[],True,True
416,162_A623T_A,True,[],True,True,True,[C596A],False,False
471,200_A1546G_A,True,[C1402A],False,False,True,[],True,True
472,200_C1517T_A,True,[C1402A],False,False,True,[],True,True
473,200_G229T_A,True,[C1402A],False,False,True,[],True,True
474,200_T26G_A,True,[C1402A],False,False,True,[],True,True
633,3078_A412G_A,True,"[A682G, A701G, T781G]",False,False,True,[],True,True
634,3078_G206A_A,True,"[A682G, A701G, T781G]",False,False,True,[],True,True
635,3078_T296C_A,True,"[A682G, A701G, T781G]",False,False,True,[],True,True
754,4019_A65G_A,True,[G409A],False,False,True,[],True,True
755,4019_C763T_A,True,[G409A],False,False,True,[],True,True
756,4019_G128A_A,True,[G409A],False,False,True,[],True,True
757,4019_G409A_A,False,[G409A],False,False,True,[],True,True
758,4019_G409C_A,True,[G409A],False,False,True,[],True,True
759,4019_G629C_A,True,[G409A],False,False,True,[],True,True
760,4019_G764A_A,True,[G409A],False,False,True,[],True,True
761,4019_T521G_A,True,[G409A],False,False,True,[],True,True
762,4019_T799C_A,True,[G409A],False,False,True,[],True,True
808,450_C173T_A,True,[C15T],False,False,True,[],True,True
846,4727_A322T_A,True,"[A82T, C78T, G81T, T213C]",False,False,True,"[A82T, C78T, G81T]",False,False
847,4727_T454C_A,False,"[A82T, C78T, G81T, T213C]",False,False,False,"[A82T, C78T, G81T]",False,False
960,5315_A703C_A,False,[A703G],False,False,False,[],True,False
965,53266_C1228T_A,True,"[A1404T, C1407G, G1402A]",False,False,True,[],True,True
966,53266_C152T_A,True,"[A1404T, C1407G, G1402A]",False,False,True,[],True,True
967,53266_C961T_A,True,"[A1404T, C1407G, G1402A]",False,False,True,[],True,True
968,53266_G1318A_A,True,"[A1404T, C1407G, G1402A]",False,False,True,[],True,True
969,53266_G1384A_A,True,"[A1404T, C1407G, G1402A]",False,False,True,[],True,True
970,53266_G209A_A,True,"[A1404T, C1407G, G1402A]",False,False,True,[],True,True
1172,56234_A1042G_A,True,[G973T],False,False,True,[],True,True
1173,56234_C1804G_A,True,[G973T],False,False,True,[],True,True
1174,56234_T1580C_A,True,[G973T],False,False,True,[],True,True
1181,56328_A164T_A,True,[],True,False,True,[A1238T],False,False
1182,56328_A718G_A,True,[],True,False,True,[A1238T],False,False
1183,56328_G346C_A,True,[],True,False,True,[A1238T],False,False
1184,56328_T337C_A,True,[],True,False,True,[A1238T],False,False
1210,56525_C119T_A,True,"[A501G, A509G, C515T, C88T, T411C, T417C]",False,False,True,[C88T],False,False
1211,56525_C389T_A,True,"[A501G, A509G, C515T, C88T, T411C, T417C]",False,False,True,[C88T],False,False
1212,56525_G820A_A,True,"[A501G, A509G, C515T, C88T, T411C, T417C]",False,False,True,[C88T],False,False
1213,56525_T793C_A,True,"[A501G, A509G, C515T, C88T, T411C, T417C]",False,False,True,[C88T],False,False
1326,6290_G76A_A,True,[],True,False,True,[C15G],False,False
1327,6290_T428C_A,True,[],True,False,True,[C15G],False,False
1349,6447_T1109C_A,True,[G988A],False,False,True,[],True,True
1533,8282_A379G_A,True,[G102A],False,False,True,[],True,True
1633,9744_C746T_A,True,[C41A],False,False,True,[],False,False
1634,9744_G35A_A,False,[C41A],False,False,False,[],False,False
1642,9862_A902C_A,True,[G366A],False,False,True,[],True,True
1643,9862_G25A_A,True,[G366A],False,False,True,[],True,True
1644,9862_G510A_A,True,[G366A],False,False,False,[],True,False

In [131]:
df_compare.loc[df_compare["Identifier"] == "14312_A703G_A"]

,Identifier,Status_x,Other Muts_x,Clean_x,Successful_x,Status_y,Other Muts_y,Clean_y,Successful_y
336,14312_A703G_A,True,[],True,True,True,[],True,True

In [132]:
df = pd.read_csv("/local/storage/rhlin/ESP_7_output/cdf_log.txt", sep="\t", header = None) \
    .rename(columns={0: "ORF", 1: "Colony", 2: "Identifier", 3: "Expected Percentage", \
                     4: "cdf_mut", 5: "cdf_no_mut", 6: "cdf_scaled"})

In [133]:
positions = df["Identifier"].apply(lambda x: x.split("_")[1][1:-1])
df['pos'] = positions

In [134]:
df

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos
0,27,A,27_C480G,0.998950,-353.170040,-469.749009,-242.405964,480
1,8221,A,8221_G367A,0.498950,-110.753281,-799.171917,-17.291735,367
2,3078,A,3078_A412G,0.332283,-96.882217,-1596.191919,-6.730073,412
3,3078,A,3078_G206A,0.332283,-92.394122,-1642.730802,-6.730073,206
4,3078,A,3078_T296C,0.332283,-126.169871,-1425.568691,-8.417818,296
...,...,...,...,...,...,...,...,...
321,10037,B,10037_T1139G,0.498874,-40.322301,-3812.713612,-3.984580,1139
322,10063,B,10063_A497G,0.498874,-70.444362,-3617.739603,-5.640721,497
323,3966,B,3966_A788G,0.141731,-61.309112,-827.432519,-3.867124,788
324,3966,B,3966_T868G,0.141731,-42.129791,-562.810508,-3.867124,868
325,2659,B,2659_T2275C,0.498874,-56.806816,-3667.180992,-4.498087,2275

In [138]:
cdf_a = df[df["Colony"] == "A"]
cdf_a["ORF"] = df["ORF"].astype(str)
cdf_a["pos"] = df["pos"].astype(int)
cdf_a

/home/rhlin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/rhlin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos
0,27,A,27_C480G,0.998950,-353.170040,-469.749009,-242.405964,480
1,8221,A,8221_G367A,0.498950,-110.753281,-799.171917,-17.291735,367
2,3078,A,3078_A412G,0.332283,-96.882217,-1596.191919,-6.730073,412
3,3078,A,3078_G206A,0.332283,-92.394122,-1642.730802,-6.730073,206
4,3078,A,3078_T296C,0.332283,-126.169871,-1425.568691,-8.417818,296
...,...,...,...,...,...,...,...,...
75,14312,A,14312_A703G,0.998950,-636.632620,-958.939311,-222.609921,703
76,12146,A,12146_G1037C,0.998950,-4.589854,-957.840485,-5.278431,1037
77,55247,A,55247_T980C,0.998950,-4.317918,-1108.442749,-5.278431,980
78,10225,A,10225_C43A,0.498950,-164.705019,-842.013421,-21.179606,43
79,8180,A,8180_G94C,0.998950,-5.612054,-1939.520122,-5.278431,94

In [139]:
readCounts = pd.read_csv("/local/storage/rhlin/ESP_7_output/ESP_7_A_trimmed_read_counts.txt", sep="\t", \
                        header=None).rename(columns={0: "ORF", 1: "pos", 2: "read counts"})
readCounts["pos"] = readCounts["pos"].apply(lambda x: x + 1)
readCounts["ORF"] = readCounts["ORF"].astype(str)
readCounts["pos"] = readCounts["pos"].astype(int)
readCounts

           ORF  pos                         read counts
0        55296  805  {'A': 0, 'T': 0, 'C': 163, 'G': 0}
1        55296  806  {'A': 0, 'T': 165, 'C': 0, 'G': 0}
2        55296  807  {'A': 167, 'T': 0, 'C': 0, 'G': 0}
3        55296  808  {'A': 0, 'T': 0, 'C': 0, 'G': 166}
4        55296  809  {'A': 0, 'T': 165, 'C': 1, 'G': 0}
...        ...  ...                                 ...
1188744   8190   50  {'A': 0, 'T': 0, 'C': 575, 'G': 0}
1188745   8190   51  {'A': 559, 'T': 0, 'C': 0, 'G': 0}
1188746   8190   52  {'A': 0, 'T': 0, 'C': 575, 'G': 0}
1188747   8190   53  {'A': 0, 'T': 0, 'C': 577, 'G': 0}
1188748   8190   54  {'A': 579, 'T': 0, 'C': 0, 'G': 1}

[1188749 rows x 3 columns]

In [141]:
rc_merge_A = pd.merge(cdf_a, readCounts, on=["ORF", "pos"], how = "left")

In [143]:
rc_merge_A

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos,read counts
0,27,A,27_C480G,0.998950,-353.170040,-469.749009,-242.405964,480,"{'A': 1, 'T': 0, 'C': 65, 'G': 83}"
1,8221,A,8221_G367A,0.498950,-110.753281,-799.171917,-17.291735,367,"{'A': 175, 'T': 1, 'C': 0, 'G': 565}"
2,3078,A,3078_A412G,0.332283,-96.882217,-1596.191919,-6.730073,412,"{'A': 1553, 'T': 0, 'C': 0, 'G': 369}"
3,3078,A,3078_G206A,0.332283,-92.394122,-1642.730802,-6.730073,206,"{'A': 378, 'T': 1, 'C': 0, 'G': 1554}"
4,3078,A,3078_T296C,0.332283,-126.169871,-1425.568691,-8.417818,296,"{'A': 0, 'T': 1606, 'C': 338, 'G': 0}"
...,...,...,...,...,...,...,...,...,...
75,14312,A,14312_A703G,0.998950,-636.632620,-958.939311,-222.609921,703,"{'A': 0, 'T': 0, 'C': 121, 'G': 168}"
76,12146,A,12146_G1037C,0.998950,-4.589854,-957.840485,-5.278431,1037,"{'A': 0, 'T': 0, 'C': 141, 'G': 2}"
77,55247,A,55247_T980C,0.998950,-4.317918,-1108.442749,-5.278431,980,"{'A': 0, 'T': 2, 'C': 163, 'G': 0}"
78,10225,A,10225_C43A,0.498950,-164.705019,-842.013421,-21.179606,43,"{'A': 190, 'T': 0, 'C': 716, 'G': 0}"
79,8180,A,8180_G94C,0.998950,-5.612054,-1939.520122,-5.278431,94,"{'A': 1, 'T': 0, 'C': 285, 'G': 2}"

In [144]:
df_compare["Identifier"] = df_compare["Identifier"].apply(lambda x: x[:-2])
df_compare

,Identifier,Status_x,Other Muts_x,Clean_x,Successful_x,Status_y,Other Muts_y,Clean_y,Successful_y
0,10002_T743A,True,[],True,False,True,[],True,True
1,10011_G799A,True,[],True,False,True,[],True,True
2,10016_C1014G,True,[],True,True,True,[],True,True
3,10037_G1595C,True,[],True,True,True,[],True,True
4,10037_T1139G,True,[],True,True,True,[],True,True
...,...,...,...,...,...,...,...,...,...
1654,9969_G1228A,True,[],True,True,True,[],True,True
1655,9970_A377G,True,[],True,True,True,[],True,True
1656,9989_C596T,True,[],True,False,True,[],True,True
1657,9990_G1237A,True,"[9990_A818G, 9990_G45T]",False,False,True,"['G45T', 'A818G']",False,False
1658,9990_G22C,True,"[9990_A818G, 9990_G45T]",False,False,True,"['G45T', 'A818G']",False,False

In [145]:
df_temp = pd.DataFrame([df_compare["Identifier"], df_compare["Status_y"]])
df_temp = df_temp.T

In [146]:
cdf_merge = pd.merge(rc_merge_A, df_temp, on=["Identifier"], how="left")

In [147]:
cdf_merge

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos,read counts,Status_y
0,27,A,27_C480G,0.998950,-353.170040,-469.749009,-242.405964,480,"{'A': 1, 'T': 0, 'C': 65, 'G': 83}",True
1,8221,A,8221_G367A,0.498950,-110.753281,-799.171917,-17.291735,367,"{'A': 175, 'T': 1, 'C': 0, 'G': 565}",False
2,3078,A,3078_A412G,0.332283,-96.882217,-1596.191919,-6.730073,412,"{'A': 1553, 'T': 0, 'C': 0, 'G': 369}",True
3,3078,A,3078_G206A,0.332283,-92.394122,-1642.730802,-6.730073,206,"{'A': 378, 'T': 1, 'C': 0, 'G': 1554}",True
4,3078,A,3078_T296C,0.332283,-126.169871,-1425.568691,-8.417818,296,"{'A': 0, 'T': 1606, 'C': 338, 'G': 0}",True
...,...,...,...,...,...,...,...,...,...,...
75,14312,A,14312_A703G,0.998950,-636.632620,-958.939311,-222.609921,703,"{'A': 0, 'T': 0, 'C': 121, 'G': 168}",True
76,12146,A,12146_G1037C,0.998950,-4.589854,-957.840485,-5.278431,1037,"{'A': 0, 'T': 0, 'C': 141, 'G': 2}",True
77,55247,A,55247_T980C,0.998950,-4.317918,-1108.442749,-5.278431,980,"{'A': 0, 'T': 2, 'C': 163, 'G': 0}",True
78,10225,A,10225_C43A,0.498950,-164.705019,-842.013421,-21.179606,43,"{'A': 190, 'T': 0, 'C': 716, 'G': 0}",False
79,8180,A,8180_G94C,0.998950,-5.612054,-1939.520122,-5.278431,94,"{'A': 1, 'T': 0, 'C': 285, 'G': 2}",True

In [148]:
disagree = cdf_merge[cdf_merge["Status_y"] == False].reset_index(drop=True)
disagree

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos,read counts,Status_y
0,8221,A,8221_G367A,0.498950,-110.753281,-799.171917,-17.291735,367,"{'A': 175, 'T': 1, 'C': 0, 'G': 565}",False
1,13320,A,13320_C499G,0.141807,-94.472518,-800.742229,-4.764671,499,"{'A': 1, 'T': 0, 'C': 3298, 'G': 246}",False
2,138,A,138_C862A,0.141807,-95.886200,-856.658318,-3.871960,862,"{'A': 262, 'T': 0, 'C': 3457, 'G': 0}",False
3,11611,A,11611_A133G,0.198950,-232.065447,-444.813350,-10.788191,133,"{'A': 2529, 'T': 0, 'C': 0, 'G': 147}",False
4,3787,A,3787_C530T,0.498950,-93.547261,-97.277158,-38.549260,530,"{'A': 0, 'T': 26, 'C': 227, 'G': 0}",False
5,13876,A,13876_G367A,0.498950,-234.561918,-815.165345,-24.070145,367,"{'A': 191, 'T': 0, 'C': 0, 'G': 865}",False
6,9862,A,9862_G510A,0.332283,-47.174423,-407.989422,-9.359872,510,"{'A': 98, 'T': 1, 'C': 0, 'G': 505}",False
7,7934,A,7934_A1027G,0.498950,-119.860546,-690.534266,-19.826101,1027,"{'A': 549, 'T': 0, 'C': 0, 'G': 154}",False
8,10225,A,10225_C43A,0.498950,-164.705019,-842.013421,-21.179606,43,"{'A': 190, 'T': 0, 'C': 716, 'G': 0}",False

In [149]:
df_compare[df_compare["Identifier"] == "27_C480G_A"]

Empty DataFrame
Columns: [Identifier, Status_x, Other Muts_x, Clean_x, Successful_x, Status_y, Other Muts_y, Clean_y, Successful_y]
Index: []

In [ ]:
'''
8221: 0.98
13320: 0.96
138: 
11611: 
3837: 0.98
13876: 0.99
9862: 0.811
7934: 0.96
10255: 
'''

In [175]:
cdf_merge[cdf_merge["ORF"] == "9862"]

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos,read counts,Status_y
64,9862,A,9862_G510A,0.332283,-47.174423,-407.989422,-9.359872,510,"{'A': 98, 'T': 1, 'C': 0, 'G': 505}",False

In [ ]:
9862	9862_A902C
9862	9862_G25A
9862	9862_G510A

In [184]:
readCounts[(readCounts["ORF"] == "9862") & (readCounts["pos"].isin([902, 25, 510]))]

         ORF  pos                           read counts
963615  9862   25  {'A': 174, 'T': 0, 'C': 0, 'G': 356}
964024  9862  510   {'A': 98, 'T': 1, 'C': 0, 'G': 505}
964287  9862  902  {'A': 448, 'T': 0, 'C': 211, 'G': 0}

In [193]:
agree = cdf_merge[cdf_merge["Status_y"] == True].reset_index(drop=True)

In [195]:
agree.iloc[:20]

,ORF,Colony,Identifier,Expected Percentage,cdf_mut,cdf_no_mut,cdf_scaled,pos,read counts,Status_y
0,27,A,27_C480G,0.998950,-353.170040,-469.749009,-242.405964,480,"{'A': 1, 'T': 0, 'C': 65, 'G': 83}",True
1,3078,A,3078_A412G,0.332283,-96.882217,-1596.191919,-6.730073,412,"{'A': 1553, 'T': 0, 'C': 0, 'G': 369}",True
2,3078,A,3078_G206A,0.332283,-92.394122,-1642.730802,-6.730073,206,"{'A': 378, 'T': 1, 'C': 0, 'G': 1554}",True
3,3078,A,3078_T296C,0.332283,-126.169871,-1425.568691,-8.417818,296,"{'A': 0, 'T': 1606, 'C': 338, 'G': 0}",True
4,13320,A,13320_C194G,0.141807,-56.609127,-1130.447561,-3.113865,194,"{'A': 0, 'T': 0, 'C': 3432, 'G': 325}",True
5,67,A,67_C746T,0.498950,-56.011115,-2833.637193,-5.645237,746,"{'A': 0, 'T': 558, 'C': 960, 'G': 0}",True
6,13327,A,13327_A127C,0.332283,-43.883606,-924.418873,-5.978262,127,"{'A': 817, 'T': 0, 'C': 210, 'G': 0}",True
7,2407,A,2407_G616A,0.998950,-4.185377,-1190.605239,-5.278431,616,"{'A': 175, 'T': 0, 'C': 0, 'G': 2}",True
8,2156,A,2156_C85T,0.332283,-68.390672,-1743.052635,-5.284168,85,"{'A': 1, 'T': 393, 'C': 1460, 'G': 0}",True
9,12407,A,12407_C35A,0.998950,-235.736950,-990.071630,-117.695646,35,"{'A': 161, 'T': 0, 'C': 51, 'G': 0}",True
10,138,A,138_C649T,0.141807,-71.177982,-1004.933567,-3.871960,649,"{'A': 0, 'T': 296, 'C': 3416, 'G': 1}",True
11,138,A,138_G410C,0.141807,-73.974138,-1173.767210,-3.113865,410,"{'A': 0, 'T': 1, 'C': 343, 'G': 3841}",True
12,138,A,138_G145C,0.141807,-82.958748,-861.601957,-3.871960,145,"{'A': 1, 'T': 0, 'C': 260, 'G': 3274}",True
13,2194,A,2194_T202C,0.332283,-30.864894,-2478.041455,-3.037198,202,"{'A': 0, 'T': 1545, 'C': 533, 'G': 0}",True
14,8341,A,8341_G1606A,0.998950,-5.792393,-1816.259469,-5.278431,1606,"{'A': 267, 'T': 0, 'C': 0, 'G': 3}",True
15,8348,A,8348_C590T,0.498950,-90.141411,-2916.738872,-6.947963,590,"{'A': 0, 'T': 585, 'C': 1130, 'G': 0}",True
16,55489,A,55489_G160A,0.498950,-11.410000,-658.421829,-4.502054,160,"{'A': 128, 'T': 0, 'C': 0, 'G': 207}",True
17,6552,A,6552_G362A,0.498950,-24.943507,-3431.779523,-3.072283,362,"{'A': 656, 'T': 0, 'C': 0, 'G': 924}",True
18,8632,A,8632_C487G,0.998950,-443.978241,-876.006211,-190.433560,487,"{'A': 0, 'T': 0, 'C': 87, 'G': 150}",True
19,4538,A,4538_C511T,0.998950,-4.072042,-1265.929024,-5.278431,511,"{'A': 0, 'T': 186, 'C': 2, 'G': 0}",True

In [226]:
rc_b = pd.read_csv("/local/storage/rhlin/ESP_7_output/ESP_7_B_trimmed_read_counts.txt", sep="\t", \
                        header=None).rename(columns={0: "ORF", 1: "pos", 2: "read counts"})
rc_b["pos"] = rc_b["pos"].apply(lambda x: x + 1)
rc_b["ORF"] = rc_b["ORF"].astype(str)
rc_b["pos"] = rc_b["pos"].astype(int)
rc_b

           ORF  pos                         read counts
0        55296  580  {'A': 206, 'T': 0, 'C': 0, 'G': 0}
1        55296  581  {'A': 208, 'T': 0, 'C': 0, 'G': 0}
2        55296  582  {'A': 0, 'T': 206, 'C': 0, 'G': 0}
3        55296  583  {'A': 0, 'T': 0, 'C': 212, 'G': 0}
4        55296  584  {'A': 216, 'T': 0, 'C': 0, 'G': 0}
...        ...  ...                                 ...
1178747   8190  145  {'A': 852, 'T': 1, 'C': 0, 'G': 0}
1178748   8190  146  {'A': 0, 'T': 858, 'C': 0, 'G': 0}
1178749   8190  147  {'A': 0, 'T': 871, 'C': 0, 'G': 1}
1178750   8190  148  {'A': 0, 'T': 0, 'C': 0, 'G': 866}
1178751   8190    4  {'A': 511, 'T': 0, 'C': 0, 'G': 0}

[1178752 rows x 3 columns]

In [227]:
rc_b[(rc_b["ORF"] == "4019") & (rc_b["pos"] == 100)]

          ORF  pos                          read counts
1141299  4019  100  {'A': 2, 'T': 0, 'C': 7486, 'G': 0}